<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>SecureStream - Dashboard</title>
</head>
<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand"><a class="navbar-item title is-4">🎬 SECURESTREAM</a></div>
    </nav>
    <section class="section">
        <div class="container">
            <h1 class="title">Panel de Control de Contenidos</h1>
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <div class="notification is-link has-text-centered">
                        <p class="heading">Películas Totales</p>
                        <p class="title">3</p>
                    </div>
                </div>
            </div>
            <table class="table is-striped is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título del Contenido</th>
                        <th>Rating de Edad</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td><td>John Wick 4</td><td>18+</td><td><span class="tag is-danger">Restringido</span></td>
                    </tr>
                    <tr>
                        <td>2</td><td>Super Mario Bros</td><td>ATP</td><td><span class="tag is-success">Apto</span></td>
                    </tr>
                    <tr>
                        <td>3</td><td>Interstellar</td><td>13+</td><td><span class="tag is-warning">Sugerido</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>